/* Fontes usadas no projeto:

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
} */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #0D0D0D;
    color: #FFFFFF;
}

.container {
    display: flex;
    height: 100vh;
}

.container .sidebar {
    width: 400px;
    background-color: #121212;
    padding: 24px 10px 90px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .sidebar h5 {
    font-size: 18px;
}

.container .sidebar .nav-logo i {
    font-size: 40px;
}

.container .sidebar .nav-library {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    justify-content: center;
}

.container .sidebar .nav-library:hover {
    background-color: #383838b9;
}

.container .sidebar .nav-library i, .container .sidebar .nav-library p {
    color: #B7B3B6;
    font-size: 14px;
}

.container .sidebar .nav-playlist, .container .sidebar .nav-podcast  {
    background-color: #242424;
    padding: 16px;
    border-radius: 10px;

}

.container .sidebar .nav-playlist button, .container .sidebar .nav-podcast button {
    background-color: #FFFFFF;
    color: #0D0D0D;
    border: none;
    padding: 5px 16px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 12px;
    margin-top: 15px;
}

.container .sidebar .nav-footer {
    display: flex;
    margin-top: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.container .sidebar .nav-footer a {
    color: #A7A7A7;
    text-decoration: none;
    font-size: 12px;
    margin: 0 12px 8px 0;
}

.container .sidebar .nav-lang-button {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 2px 1px;
    margin-top: 16px;
   cursor: pointer;
   border-radius: 8px; 
}

/* CSS do Main: */

.container .area-geral {
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;
}

.container .area-geral .search-bar { 
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 18px;
    border-radius: 10px;
    width: 1000px;

}

.container .area-geral .search-bar input {
    background-color: transparent;
    border: none;
    color: #ffffffa8;
    width: 100%;
    margin-left: 10px;
    outline: none;
}


.container .area-geral .content .artists-grid, .container .area-geral .content .albums-grid {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px; 
    margin-bottom: 40px;

}


.container .area-geral .content .artists-grid .artist-card {
    background-color: #0D0D0D;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color  0.3s;
    height: 270px;

}

.container .area-geral .content .albums-grid .album-card {
    background-color: #282828;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color  0.3s;
    height: 268px;

}

.container .area-geral .content .artists-grid .artist-card:hover,
.container .area-geral .content .albums-grid .album-card:hover {
    background-color: #282828;
    scale: 1.1;
    box-shadow: 0px 0px 4px #474747b4;
}

.container .area-geral .content .artists-grid .artist-card img {
    width: 100%;
    border-radius: 50%;
    height: 190px;
    object-fit: inherit;
}

.container .area-geral .content .albums-grid .album-card img {
    width: 100%;
    border-radius: 5px;
    height: 190px;
}

.container .area-geral .content .artists-grid .artist-card h3,
.container .area-geral .content .albums-grid .album-card h3 {
    font-size: 12px;
}

.container .area-geral .content .artists-grid .artist-card p,
.container .area-geral .content .albums-grid .album-card p {
    font-size: 12px;
    color: #B7B3B6;
}

.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg,rgb(175, 40, 150) 36%, rgba(80, 155, 245, 1) 73%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}

.banner h2 {
    font-size: 14px;
    font-weight: 600;
}

.banner p {
    font-size: 10px;
}

.banner button {
    border-radius: 20px;
    color: #0D0D0D;
    border: none;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
}